/*----------------------------------------*/
/*  08. HEADER CSS START
/*----------------------------------------*/

/* hide the link until viewport size is reached */
a.meanmenu-reveal {
  display: none;
}

/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
  float: left;
  width: 100%;
  position: relative;
  background: #070337;
  padding: 4px 0;
  min-height: 42px;
  z-index: 999999;
}

.mean-container a.meanmenu-reveal {
  width: 22px;
  height: 22px;
  padding: 13px 13px 11px 13px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-indent: -9999em;
  line-height: 22px;
  font-size: 1px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.mean-container a.meanmenu-reveal span {
  display: block;
  background: #fff;
  height: 3px;
  margin-top: 3px;
}

.mean-container .mean-nav {
  float: left;
  width: 100%;
  background: #070337;
  margin-top: 44px;
}

.mean-container .mean-nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
}

.mean-container .mean-nav ul li {
  position: relative;
  float: left;
  width: 100%;
}

.mean-container .mean-nav ul li a {
  display: block;
  float: left;
  width: 90%;
  padding: 10px 5%;
  margin: 0;
  text-align: left;
  color: #fff;
  border-top: 1px solid #e0e3ed;
  text-decoration: none;
  text-transform: uppercase;
}

.mean-container .mean-nav ul li li a {
  width: 80%;
  padding: 10px 10%;
  text-shadow: none !important;
  visibility: visible;
}

.mean-container .mean-nav ul li.mean-last a {
  border-bottom: none;
  margin-bottom: 0;
}

.mean-container .mean-nav ul li li li a {
  width: 70%;
  padding: 10px 15%;
}

.mean-container .mean-nav ul li li li li a {
  width: 60%;
  padding: 10px 20%;
}

.mean-container .mean-nav ul li li li li li a {
  width: 50%;
  padding: 10px 25%;
}

.mean-container .mean-nav ul li a.mean-expand {
  margin-top: 1px;
  width: 26px;
  height: 32px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  font-weight: 700;
  background: transparent;
  border: none !important;
  font-size: 14px;
}

.mean-container .mean-push {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  clear: both;
}

.mean-nav .wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar,
.mean-container .mean-bar * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.mean-remove {
  display: none !important;
}

.offcanvas-mobile-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  max-width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 9999;
  transition: 0.6s;
  left: auto;
  background: #fff;
  padding: 20px;
  right: -100%;
  @media #{$xl,$lg} {
    display: none;
  }
  @media #{$xs} {
    width: 100%;
  }
  @media #{$xxs} {
    width: 100%;
  }

  &.active {
    right: 0;
  }
}

.offcanvas-navigation {
  margin-bottom: 20px;
  & > ul {
    & > li {
      &.menu-item-has-children {
        & > .sub-menu {
          height: 0;
          visibility: hidden;
          opacity: 0;
          transition: 0.3s;
        }

        &.active {
          & > .sub-menu {
            height: 100%;
            visibility: visible;
            opacity: 1;

            li a {
              padding-left: 20px;

              display: block;
              width: 100%;
              color: var(--text_color);
              border-top: 1px solid #ebebeb;
              font-size: 14px;
              line-height: 1.5;
              font-weight: 700;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }

  ul {
    &.sub-menu {
      transition: 0.3s;
    }
    li {
      &.menu-item-has-children {
        position: relative;
        display: block;
        a {
          display: block;
        }

        &.active {
          & > .menu-expand {
            svg {
              &:before {
                transform: rotate(0);
              }
            }
          }
        }

        .menu-expand {
          position: absolute;
          left: auto;
          right: 46px;
          top: -5px;
          width: 30px;
          height: 50px;
          line-height: 50px;
          cursor: pointer;
          text-align: center;
          @media #{$xs,$xxs} {
            right: 0;
          }

          i {
            display: block;
            margin-top: 25px;
            border-bottom: 1px solid;
            position: relative;
            width: 10px;
            transition: all 250ms ease-out;
            &:before {
              width: 100%;
              content: "";
              border-bottom: 1px solid;
              display: block;
              position: absolute;
              top: 0;
              transform: rotate(90deg);
            }
          }
        }
      }
      a {
        display: block;
        width: 100%;
        padding: 10px 0;
        color: var(--text_color);
        border-top: 1px solid #ebebeb;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}

/* ============= sticky ============= */

.header__sticky {
  position: fixed !important;
  left: 0;
  margin: auto;
  top: 0;
  width: 100%;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
  z-index: 99;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.07);
  -webkit-animation: sticky 1s;
  animation: sticky 1s;
  background: var(--tp-heading-primary);
}

/* ============= Header-intro-version-one-area ============= */

.header-intro-version-one-area {
  background: var(--primary_color);

  @media #{$md, $sm, $xs} {
    padding: 25px 0;
  }
  &.header__sticky {
    @media #{$md, $sm, $xs} {
      padding: 20px 0;
    }
  }
}
/* ============= Header-intro-version-two-area ============= */
.header-intro-version-two-area {
  background: var(--primary_color);
  .menu-body .main-menu {
    display: flex;
    justify-content: end;
  }
  @media #{$md, $sm, $xs} {
    padding: 25px 0;
  }
  &.header__sticky {
    @media #{$md, $sm, $xs} {
      padding: 20px 0;
    }
  }
}
/* ============= Header-intro-version-three-area ============= */
.header-intro-version-three-area {
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 99;
  @media #{$md, $sm, $xs} {
    padding: 30px 0;
  }
  &.header__sticky {
    background: var(--primary_color);
    @media #{$md, $sm, $xs} {
      padding: 20px 0;
    }
  }

  .menu-body {
    .main-menu {
      .mobile-menu {
        ul {
          li {
            color: var(--bg_white);
          }
        }
      }
    }
  }
}

/* ============= Logo Section ============= */

.logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  @media #{$sm, $xs} {
    padding-left: 15px;
  }
}

/* ============= Main-menu ============= */

.menu-body {
  .main-menu {
    display: flex;
    justify-content: center;
    @media #{$md, $sm, $xs} {
      display: none !important;
    }
    & ul {
      & li {
        display: inline-block;
        margin-right: 25px;
        position: relative;
        @media #{$lg} {
          margin-right: 22px;
        }
        &:last-child {
          margin-right: 0;
        }
        &.has-dropdown {
          & > a {
            padding-right: 5px;
          }
        }
        & a {
          color: var(--bg_white);
          font-size: 16px;
          line-height: 20px;
          padding: 30px 0;
          display: inline-block;
          transition: 0.3s;
        }
        & .active {
          color: var(--theme_color);
        }
        &:hover > a {
          color: var(--theme_color);
          &::after {
            color: var(--theme_color);
          }
        }
        &:hover .sub-menu,
        &:hover .mega-menu {
          visibility: visible;
          opacity: 1;
          top: 100%;
        }
        & .sub-menu {
          position: absolute;
          left: 0;
          top: 110%;
          min-width: 220px;
          background-color: var(--bg_white);
          opacity: 0;
          visibility: hidden;
          z-index: 99;
          -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
          -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
          padding: 20px 0px 15px;
          transition: 0.3s;
          border-top: 4px solid var(--theme_color);
          & li {
            margin: 0;
            padding: 0;
            display: inline;
            position: relative;
            width: 100%;
            display: block;
            & a {
              position: relative;
              font-size: 16px;
              font-weight: 400;
              display: block;
              padding: 6px 25px;
              transition: 0.3s;
              color: var(--heading-color);
              text-transform: capitalize;
            }
            & .active {
              color: var(--theme_color);
            }
            &:hover > a {
              color: var(--theme_color);
            }
            & > .sub-menu {
              left: 120%;
              top: 0;
              visibility: hidden;
              opacity: 0;
            }
            &:hover > .sub-menu {
              left: 100%;
              visibility: visible;
              opacity: 1;
            }
          }
        }
        & .mega-menu {
          position: absolute;
          left: 50%;
          top: 110%;
          min-width: 700px;
          background-color: var(--bg_white);
          opacity: 0;
          visibility: hidden;
          z-index: 99;
          -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
          -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
          padding: 20px 0px 15px;
          transition: 0.3s;
          border-top: 4px solid var(--theme_color);
          transform: translateX(-50%);

          .inner-body {
            display: flex;
            h5 {
              font-size: 18px;
              color: var(--heading_color);
              font-weight: 700;
              margin-left: 24px;
              border-bottom: 1px solid var(--border_color);
              display: inline-block;
            }
          }
          & li {
            margin: 0;
            padding: 0;
            display: inline;
            position: relative;
            width: 100%;
            display: block;
            & a {
              font-size: 16px;
              font-weight: 400;
              display: block;
              padding: 6px 25px;
              transition: 0.3s;
              color: var(--heading-color);
              text-transform: capitalize;
            }
            & .active {
              color: var(--theme_color);
            }
            &:hover > a {
              color: var(--theme_color);
            }
            & > .mega-menu {
              left: 120%;
              top: 0;
              visibility: hidden;
              opacity: 0;
            }
            &:hover > .mega-menu {
              left: 100%;
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }
    &.version-two {
      justify-content: end;

      ul li .mega-menu {
        left: -212%;
      }
    }
  }
  &.rtl {
    .main-menu ul {
      li {
        a {
          @media #{$lg, $md, $sm, $xs} {
            text-align: end;
          }
        }
        .sub-menu {
          right: 0;
          left: auto;
          li {
            a {
              text-align: end;
              @media #{$lg, $md, $sm, $xs} {
                text-align: end;
              }
            }
          }
        }
      }
    }
  }
}

/* ============= Main-menu customize ============= */

.mean-container a.meanmenu-reveal {
  display: none;
}
.mean-container .mean-nav {
  background: none;
  margin-top: 0;
}
.mean-container .mean-bar {
  padding: 0;
  min-height: auto;
  background: none;
}
.mean-container .mean-nav > ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
  display: block !important;
}
.mean-container a.meanmenu-reveal {
  display: none !important;
}
.mean-container .mean-nav ul li a {
  width: 100%;
  padding: 10px 0;
  color: var(--text_color);
  border-top: 1px solid #ebebeb;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  &:hover {
    color: var(--theme_color);
  }
}

.mean-container .mean-nav ul li a.mean-expand {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  padding: 0 !important;
  line-height: 14px;
  border: 1px solid #ebebeb !important;
  height: 30px;
  width: 30px;
  line-height: 30px;
  color: var(--text_color);
  line-height: 30px;
  top: 0;
  font-weight: 400;
}
.mean-container .mean-nav .rtl-link li a.mean-expand {
  @media #{$lg, $md, $sm, $xs} {
    right: auto;
    left: 0;
  }
}

.mean-container .mean-nav ul li > a > svg {
  display: none;
}
.mean-container .mean-nav ul li > a.mean-expand svg {
  display: inline-block;
}

.mean-container .mean-nav > ul > li:first-child > a {
  border-top: 0;
}

.mean-container .mean-nav ul li a.mean-expand.mean-clicked {
  color: var(--bg_white);
}
.mean-container .mean-nav ul li a.mean-expand.mean-clicked svg {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  color: var(--theme_color);
}

/* ============= Sidebar customize ============= */

.mobile-sidebar-area {
  position: fixed;
  right: -485px;
  top: 0;
  width: 465px;
  height: 100%;
  background: var(--bg_white) none repeat scroll 0 0;
  overflow-y: scroll;
  @include box-shadow(-5px 0 20px -5px rgba(0, 0, 0, 0.5));
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 9999;

  @media #{$xs} {
    width: 290px;
  }

  &.sidebar-opened {
    right: 0px;
  }
  &-2 {
    left: -485px;
    &.sidebar-opened {
      left: 0px;
    }
  }
}
.sidebar__wrapper {
  position: relative;
  padding: 50px;
  background: var(--bg_white);
  @media #{$xs} {
    padding: 20px;
  }
}
.sidebar__close {
  position: absolute;
  top: 35px;
  right: 45px;
  @media #{$xs} {
    top: 40px;
    right: 32px;
  }
  @media #{$xxs} {
    top: 40px;
    right: 32px;
  }
  .sidebar__close-btn {
    svg {
      display: inline-block;
      font-size: 18px;
      height: 30px;
      width: 30px;
      line-height: 49px;
      color: var(--primary_color);
      border-radius: 50%;
    }
  }
  &-btn-3 {
    background: #666;
    &:hover {
      background: #666;
    }
  }
  &.rtl {
    right: auto;
    left: 35px;
    @media #{$xs} {
      right: auto;
      left: 6px;
    }
  }
}
.sidebar__logo {
  border-bottom: 1px solid #ebebeb;
}
.sidebar__search {
  position: relative;
  & input {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-right: 20px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #ebebeb;
    font-size: 16px;
    color: var(--text_color);
    &::placeholder {
      color: var(--text_color);
    }
    &:focus {
      border-color: var(--theme_color);
    }
  }
  & button {
    position: absolute;
    top: 50%;
    right: 0;
    @include transform(translateY(-50%));
    font-size: 14px;
    color: var(--text_color);
    transition: 0.3s;
    &:hover {
      color: var(--theme_color);
    }
  }
  &.rtl {
    & button {
      right: auto;
      left: 0;
    }
  }
}

.sidebar__contact {
  & h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--heading_color);
  }
}

.sidebar__social {
  & ul {
    & li {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 5px;
      }
      & a {
        width: 35px;
        height: 35px;
        line-height: 42px;
        text-align: center;
        background: #f1f1f1;
        border-radius: 5px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include border-radius(5px);
        font-size: 20px;
        .fa-facebook-f {
          color: var(--facebook);
        }
        .fa-twitter {
          color: var(--twitter);
        }
        .fa-youtube {
          color: var(--youtube);
        }
        .fa-linkedin {
          color: var(--linkedin);
        }
        &:hover {
          background: var(--bg_white);
        }
      }
    }
  }
}

.side-menu-icon svg {
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  position: relative;
  top: 5px;
}

/* ============= overlay ============= */
.body-overlay {
  background-color: rgba(0, 0, 0, 0.69);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  opacity: 0;
  visibility: hidden;
  @include transition(0.3s);

  &:hover {
    cursor: pointer;
  }
}

.body-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* ============= location-email-intro ============= */

.location-email-intro {
  display: flex;
  justify-content: end;
  .inner-location-email-intro {
    display: grid;
    gap: -5px;
    .btn-shape-normal-outline {
      width: 186px;
    }
    .inner {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 14px;
    }
    svg {
      color: var(--theme_color);
    }
    .text {
      color: var(--text_color);
      font-size: 14px;
    }
    h5 {
      color: var(--bg_white);
      font-size: 14px;
      font-weight: normal;
    }
  }
  &.mobile {
    margin-top: 20px;
    display: block;
    .text {
      color: var(--heading-color);
      font-size: 18px;
      font-weight: 700;
    }
    h5.text {
      color: var(--text_color);
      font-size: 16px;
      font-weight: normal;
    }
  }
  &.rtl {
    .inner-location-email-intro {
      .inner {
        justify-content: end;
      }
    }
  }
  &.purchase {
    margin-top: 270px;
    margin-left: -7px;
    justify-content: start;
  }
}

/* ============= Top Intro Section ============= */
.top-header {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  .left-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    .social-icon {
      ul {
        display: flex;
        gap: 10px;
        align-items: center;
        height: 35px;

        li {
          line-height: initial;

          svg {
            font-size: 18px;
            transition: all 0.2s linear;
          }
          &:hover svg {
            color: var(--theme_color);
          }
        }
      }
    }
    .news-intro {
      border-left: 3px solid var(--theme_color);
      height: 35px;
      .scroll-text {
        padding-left: 8px;
        width: 100%;
        height: 35px;
        overflow: hidden;
        display: flex;
        align-items: center;
        ul {
          li {
            padding: 5px 0;
          }
        }
      }
    }
  }
  .right-wrapper {
    width: 100%;
    height: 100%;
    .login-reg {
      display: flex;
      align-items: center;
      justify-content: end;
      height: 100%;
      .inner {
        line-height: initial;
        display: flex;
        align-items: center;
        gap: 5px;
      }
      span {
        a {
          font-weight: 600;
          transition: all 0.2s linear;
          &:hover {
            color: var(--theme_color);
          }
        }
      }
    }
  }
}
